h1{
    background-color: greenyellow;
    color: brown;
    margin-bottom: 0;
    height: 3rem;
    justify-content: center;
    text-align: center;
}
#röd{
    background-color: red;
    height:3em ;
    margin-top: 0;
    margin-bottom: 0;
}
#grön{
    background-color: green;
    margin-top: 0;
    margin-bottom: 0;
    height: 3rem;
}
#blå{
    background-color: blue;
    height: 3rem;
   margin-top: 0;
   margin-bottom: 0;
}
#orange{
    background-color: orange;
    height: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
#rosa{
    background-color:pink;
    height: 3rem;
    margin-top: 0;
    margin-bottom: 0;

}
#plum{
    background-color:plum;
    height: 3rem;
    margin-top: 0;
    margin-bottom: 0;

}
#lila{
    background-color:purple;
    height: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}
#powderblue{
    background-color:powderblue;
    height: 3rem;
    margin-top: 0;
    margin-bottom: 0;





}