.top-menu{
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    overflow: hidden;
    height: 7rem;
}
.fix-menu{
    height: 7rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}
.fix-menu ul{
     /* display: block;  */
     flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
}
.fix-menu ul li{
    /* margin-top: .5rem; */

}
.fix-menu ul li a{
    color: white;
   

}


