.top-menu{
    padding-top: .5rem;
    padding-bottom: .5rem;
    overflow: hidden;
    height: 7rem;
}
.fix-menu{
    height: 25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.fix-menu ul{
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
}
.fix-menu ul li{
    display: flex;
 

}
.fix-menu ul li a{
    color: white;
}


